.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fbb06c;
  filter: blur(4px);
  mix-blend-mode: overlay;
}

.dot1,
.dot2,
.dot6,
.dot12,
.dot13 {
  animation: move 22s infinite alternate,
    blink 2s infinite alternate ease-in-out,
    pulse 4s infinite alternate ease-in-out;
  width: 35px;
  height: 35px;
}

.dot3,
.dot4,
.dot5,
.dot11 {
  animation: move 27s infinite alternate-reverse,
    blink 2s infinite alternate ease-in-out,
    pulse 3s infinite alternate ease-in-out;
  width: 17px;
  height: 17px;
}

.dot7,
.dot8,
.dot9,
.dot10 {
  animation: move 36s infinite alternate,
    blink 0.5s infinite alternate ease-in-out,
    pulse 7s infinite alternate ease-in-out;
  width: 50px;
  height: 50px;
}

.dot1 {
  position: absolute;
  motion-path: path(
    "MM527.293 261.552C527.293 261.552 531.64 310.702 525.12 347.835C518.6 384.967 520.774 456.289 530.257 472.332C539.74 488.375 573.918 524.246 572.271 526.228"
  );
  offset-path: path(
    "M527.293 261.552C527.293 261.552 531.64 310.702 525.12 347.835C518.6 384.967 520.774 456.289 530.257 472.332C539.74 488.375 573.918 524.246 572.271 526.228"
  );
}

.dot2 {
  motion-path: path(
    "M824.624 65.7936C824.624 65.7936 821.595 117.888 807.041 138.857C792.487 159.827 754.951 220.033 749.748 233.732C744.546 247.432 723.209 277.595 712.343 318.032C701.477 358.47 662.426 396.504 660.977 405.517C659.528 414.53 674.213 420.178 650.308 432.135C626.469 444.092 575.828 498.829 570.954 518.297C570.954 518.297 574.642 449.98 589.854 428.89C605.067 407.8 610.928 399.748 619.489 396.624C628.05 393.5 627.062 337.8 634.964 317.732C642.867 297.663 654.457 269.483 654.457 269.483"
  );
  offset-path: path(
    "M824.624 65.7936C824.624 65.7936 821.595 117.888 807.041 138.857C792.487 159.827 754.951 220.033 749.748 233.732C744.546 247.432 723.209 277.595 712.343 318.032C701.477 358.47 662.426 396.504 660.977 405.517C659.528 414.53 674.213 420.178 650.308 432.135C626.469 444.092 575.828 498.829 570.954 518.297C570.954 518.297 574.642 449.98 589.854 428.89C605.067 407.8 610.928 399.748 619.489 396.624C628.05 393.5 627.062 337.8 634.964 317.732C642.867 297.663 654.457 269.483 654.457 269.483"
  );
}
.dot3 {
  motion-path: path(
    "M84.6224 496.967C84.6224 496.967 143.759 514.392 204.938 479.362C266.116 444.332 291.799 427.328 333.221 435.079C374.644 442.83 396.902 431.954 415.539 443.01C434.176 454.066 465.325 469.328 501.017 489.937C536.71 510.546 567.398 527.31 569.506 533.559C571.613 539.808 579.845 540.409 591.764 560.057C603.684 579.704 616.855 626.391 616.855 626.391"
  );
  offset-path: path(
    "M84.6224 496.967C84.6224 496.967 143.759 514.392 204.938 479.362C266.116 444.332 291.799 427.328 333.221 435.079C374.644 442.83 396.902 431.954 415.539 443.01C434.176 454.066 465.325 469.328 501.017 489.937C536.71 510.546 567.398 527.31 569.506 533.559C571.613 539.808 579.845 540.409 591.764 560.057C603.684 579.704 616.855 626.391 616.855 626.391"
  );
}
.dot4 {
  motion-path: path(
    "M5.3342 218.05C5.3342 218.05 165.952 187.226 227.196 180.677C288.441 174.128 391.568 141.441 464.007 156.463C536.447 171.484 592.884 199.544 605.198 202.909C617.513 206.273 597.691 163.012 620.674 162.05C643.657 161.089 741.319 164.153 769.965 179.655C798.612 195.158 849.122 236.196 871.841 232.591"
  );
  offset-path: path(
    "M5.3342 218.05C5.3342 218.05 165.952 187.226 227.196 180.677C288.441 174.128 391.568 141.441 464.007 156.463C536.447 171.484 592.884 199.544 605.198 202.909C617.513 206.273 597.691 163.012 620.674 162.05C643.657 161.089 741.319 164.153 769.965 179.655C798.612 195.158 849.122 236.196 871.841 232.591"
  );
}
.dot5 {
  motion-path: path(
    "M312.807 429.851C312.807 429.851 318.602 355.045 336.053 323.56C353.439 292.135 385.444 262.273 504.705 261.852C623.967 261.432 644.843 266.539 709.116 283.964C773.39 301.389 818.961 280.779 870.59 299.406"
  );
  offset-path: path(
    "M312.807 429.851C312.807 429.851 318.602 355.045 336.053 323.56C353.439 292.135 385.444 262.273 504.705 261.852C623.967 261.432 644.843 266.539 709.116 283.964C773.39 301.389 818.961 280.779 870.59 299.406"
  );
}

.dot6 {
  motion-path: path(
    "M1449 1C1427.67 106.333 1274.6 344.2 833 453C281 589 241 -35 1 45"
  );
  offset-path: path(
    "M1449 1C1427.67 106.333 1274.6 344.2 833 453C281 589 241 -35 1 45"
  );
}

.dot7 {
  motion-path: path(
    "M1 0.999995C129 -3.00001 433.8 35.4 629 221C873 453 997 881 1393 817"
  );
  offset-path: path(
    "M1 0.999995C129 -3.00001 433.8 35.4 629 221C873 453 997 881 1393 817"
  );
}
.dot8 {
  motion-path: path(
    "M153 1C69 75.6667 -70.2 265 45 425C189 625 381 913 153 1017"
  );
  offset-path: path(
    "M153 1C69 75.6667 -70.2 265 45 425C189 625 381 913 153 1017"
  );
}
.dot9 {
  motion-path: path(
    "M1 1C50.3333 85 218.6 265 497 313C775.4 361 1285 189 1505 97"
  );
  offset-path: path(
    "M1 1C50.3333 85 218.6 265 497 313C775.4 361 1285 189 1505 97"
  );
}
.dot10 {
  motion-path: path(
    "M53 1C122.333 71.6667 219.4 250.6 53 401C-113.4 551.4 159.667 807.667 317 917"
  );
  offset-path: path(
    "M53 1C122.333 71.6667 219.4 250.6 53 401C-113.4 551.4 159.667 807.667 317 917"
  );
}
.dot11 {
  motion-path: path("M288 1C317.333 127.667 300 423.4 -4 593");
  offset-path: path("M288 1C317.333 127.667 300 423.4 -4 593");
}
.dot12 {
  motion-path: path(
    "M1 918C7.66667 846 56.2 674 197 562C337.8 450 362.333 134 357 -10"
  );
  offset-path: path(
    "M1 918C7.66667 846 56.2 674 197 562C337.8 450 362.333 134 357 -10"
  );
}
.dot13 {
  motion-path: path("M1 1C75.5658 120.299 276.758 310.094 485 114.877");
  offset-path: path("M1 1C75.5658 120.299 276.758 310.094 485 114.877");
}

@keyframes move {
  0% {
    motion-offset: 0%;
    offset-distance: 0%;
  }
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}
@keyframes blink {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
  }
  100% {
    background-color: #e81554;
    width: 25px;
    height: 25px;
  }
}
