.page-footer {
  position: relative;
  text-align: center;
}

.social-media {
  display: inline-block;
  z-index: 1;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}
.footer-svg {
  width: 100%;
  z-index: 0;
  position: relative;
}
.social-media-icons {
  font-size: 3rem;
  margin: 5px;
  top: 50%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social-media-icons svg {
  transition: all 1s ease;
  margin: 10px;
}

.social-media-icons svg:hover {
  transform: scale(1.25);
}

.bike-icon-pattern {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 1rem 0px;
  overflow: hidden;
}
.bike-icon-pattern img {
  padding: 5px;
  transition: all 3s ease-in-out;
}
.bike-icon-pattern img:hover {
  transform: scale(1.26);
}
@media all and (min-width: 1000px) {
  .social-media-icons {
    top: 250%;
  }
  .footer-svg {
    width: 100%;
    z-index: 0;
    position: relative;
  }
}
