@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@300;400&family=Pacifico&display=swap");

:root {
  --primary-text-color: #171717;
  --orange: #e8a644;
  --off-white: #eaeaea;
  --grey-light: #bcbcbc;
  --grey-mild: #999898;
  --grey-strong: #606060;
  --secondary-text-color: #2b2b2b;
  --green: #378870;
  --fluro-green: #6dbd3a;
  --intro-font: "Pacifico", cursive;
  --body-font: "Open Sans", sans-serif;
  --h-font: "Oleo Script Swash Caps", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: rgb(189, 189, 189);
  color: var(--primary-text-color);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}
.App {
  width: 100%;
  position: relative;
  overflow: hidden;
}

button {
  border: none;
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  background-color: transparent;
}

.profile button,
.about-text button,
.send-btn {
  font-size: 2rem;
  background-color: var(--orange);
  padding: 7px;
  margin: 4px;
  border-radius: 15px;
  transition: all 1s ease-in;
  border: 4px solid;
  border-color: var(--green);
  font-weight: 600;
  cursor: pointer;
}
.profile button:hover,
.about-text button:hover,
.send-btn:hover {
  background-color: var(--green);
  color: var(--grey-strong);
  animation: colortext 1s forwards;
  border-color: var(--orange);
}

@keyframes colortext {
  0% {
    color: var(--secondary-text-color);
  }
  50% {
    color: var(--grey-strong);
  }
  100% {
    color: var(--secondary-text-color);
  }
}

.name {
  display: flex column;
  position: relative;
}
.name h1 {
  font-family: var(--intro-font);
  font-size: 4rem;
  width: 100%;
  line-height: 90%;
  color: var(--green);
  margin: 1rem 0 1rem 0;
}

.name h1:first-child {
  transform: translateX(30%);
  text-align: right;
  animation: h1animation2 25s ease-in-out infinite reverse;
}
.name h1:last-child {
  transform: translateX(-01%);
  animation: h1animation1 20s ease-in-out infinite;
}

@keyframes h1animation1 {
  0% {
    transform: translateX(-01%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-01%);
  }
}

@keyframes h1animation2 {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.profile-info {
  position: relative;
  width: 100%;
}

.profile-info-initial {
  font-size: 1.5rem;
  font-family: var(--h-font);
  position: absolute;
  top: -14%;
  width: 100%;
  text-align: center;
}

.profile-info-last {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--h-font);
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: var(--body-font);
}
a {
  color: var(--secondary-text-color);
}
a:visited {
  color: var(--grey-strong);
}
a:hover,
a:focus {
  text-decoration: none;
  color: var(--orange);
}
a:active {
  color: var(--green);
}

.profile {
  position: relative;
  width: 100%;
}
.profile-portrait {
  clear: both;
  text-align: center;
}
.profile-portrait img {
  width: 90%;
}
.about {
  position: relative;
}
.london-map {
  position: absolute;
  width: 100%;
  top: 0;
}
.map-bg {
  position: relative;
  width: 100%;
  z-index: -1;
  margin-bottom: 70px;
}

.about-text {
  width: 85%;
  margin: auto;
  text-align: center;
  clear: both;
  padding: 15px;
  background-color: var(--grey-mild);
  border-radius: 20px;
  box-shadow: 0 0 10px 10px var(--grey-mild);
}
.about-text button {
  margin: auto;
  display: flex;
  padding: 5px;
  flex-direction: center;
}

.about-text-btn {
  margin: 10px;
}
.about-text h3 {
  font-size: 1.5rem;
}
.contact {
  width: 90%;
  text-align: center;
  margin: auto;
}

.contact-form,
.direct-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direct-contact:hover {
  color: var(--green);
}
.direct-contact div,
.direct-contact a,
.direct-contact button {
  padding: 5px;
}
.contact-form {
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
}
.contact-form button {
  width: 70%;
}

.contact h1 {
  font-size: 2.6rem;
  font-family: var(--h-font);
  color: var(--secondary-text-color);
  padding: 10px;
  background: rgb(14,14,15);
  background: linear-gradient(180deg, rgba(14,14,15,0.8263736263736263) 1%, rgba(14,14,15,0.5522584033613445) 37%, rgba(86,86,89,0) 100%);
  border-radius: 10px 10px 0 0;
  position: relative;
}
.contact h1:hover {
  animation: color 1s forwards;
}

@keyframes color {
  0% {
    color: var(--secondary-text-color);
  }
  26% {
    color: var(--orange);
  }
  77% {
    color: var(--green);
  }
  100% {
    color: var(--secondary-text-color);
  }
}
@media all and (min-width: 400px) {
  .name h1 {
    font-size: 7rem;
  }

  .about-text {
    margin-top: 70px;
    margin-bottom: 30px;
  }
}

@media all and (min-width: 950px) {
  .london-map {
    width: 80%;
    text-align: center;
    top: 05%;
    left: 10%;
  }
  .map-bg {
    margin: 30px 0 30px 0;
  }
  .about h3 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.2rem;
  }

  .profile-portrait img {
    width: 50%;
    display: flex;
    margin: 25px;
  }

  .profile-info-initial {
    position: absolute;
    top: -30%;
    right: 10%;
    text-align: right;
  }
  .name h1 {
    font-size: 8rem;
    text-align: center !important;
    margin: 0;
    animation: none !important;
    width: 80%;
    padding: 0;
  }
  .name h1:first-child {
    margin-right: 20px;
  }
  .profile-info-last {
    margin-top: 20px;
  }

  .contact {
    width: 70%;
    text-align: center;
    margin: auto;
  }
  .contact h1 {
    font-size: 3rem;
  }

  .contact-form button {
    width: 15%;
    font-size: 1rem;
    margin: 10px;
  }
}

@media all and (min-width: 1050px) {
  .profile-info-initial {
    position: relative;
    text-align: right;
    transform: translateX(-20%);
  }
  .profile-portrait img {
    margin-bottom: 80px;
  }
  .name h1 {
    padding: 10px;
  }

  .name h1:first-child {
    transform: translateX(10%);
  }
  .name h1:last-child {
    transform: translateX(15%);
  }

  .profile-info {
    transform: translateX(25%);
    position: absolute;
    top: 0;
  }
}
@media all and (min-width: 1250px) {
  .profile-info-initial {
    transform: translateX(-30%);
  }
  .profile-portrait img {
    margin-bottom: 0px;
  }

  .about-text {
    position: absolute;
    top: 5%;
    width: 30%;
    right: 05%;
    background-color: transparent !important;
    box-shadow: none;
    text-align: right;
  }
  .about-text p {
    font-size: 1rem;
  }
  .london-map {
    width: 80%;
    text-align: left;
    left: 0%;
  }
}
@media all and (min-width: 1500px) {
  .about-text {
    width: 30%;
  }
  .about-text p {
    font-size: 1.3rem;
  }
}
@media all and (min-width: 1700px) {
  .profile-info-initial {
    font-size: 4rem;
    right: 05%;
  }
  .name h1 {
    font-size: 10rem;
  }
  .profile-info-last {
    font-size: 3rem;
  }
}
@media all and (min-width: 1900px) {
  .about-text {
    width: 27%;
  }
  .about-text p {
    font-size: 1.6rem;
  }
}
@media all and (min-width: 2000px) {
  .about-text h3 {
    font-size: 3rem;
  }
  .london-map {
    width: 1000px;
    text-align: left;
    left: 8%;
    top: 18%;
  }
  .about-text {
    width: 33%;
    margin-right: 50px;
  }
  .about-text-btn button {
    font-size: 3rem;
  }
}
@media all and (min-width: 2200px) {
  .profile-info-initial {
    right: 17%;
  }
  .name h1 {
    margin-left: -200px;
  }
  .profile-info-last {
    font-size: 3rem;
    margin-left: -400px;
  }
  .profile-info-last h3 {
    font-size: 2rem;
  }
}


