@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@300;400&family=Pacifico&display=swap');

:root {
  --primary-text-color: #171717;
  --orange: #e8a644;
  --off-white: #eaeaea;
  --grey-light: #bcbcbc;
  --grey-mild: #828282;
  --grey-strong: #606060;
  --secondary-text-color: #2b2b2b;
  --secondary-bg-color: #111010;
  --green: #378870;
  --fluro-green: #6dbd3a;
  --intro-font: "Pacifico", cursive;
  --body-font: "Open Sans", sans-serif;
  --h-font: 'Oleo Script Swash Caps', cursive;
}

.page-header-bg img {
  position: absolute;
  z-index: -1;
  width: 100%;
  
}
.page-header-bg:first-child {
  z-index: -10;
  opacity: 70%;
}
.page-header-bg:last-child {
  z-index: -10;
  opacity: 70%;
}

.logo-container img {
  width: 8rem;
  z-index: 20;
  margin: 10px;
  position: relative;
  float: right;
}

header:after {
  position: absolute;
  z-index: 14;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 73%
  );
}


.page-header-bg img {
  position: absolute;
  z-index: 2;
  width: 170%;
  
}
.page-header-bg img:last-child {
  z-index: 5;
  opacity: 70%;
}

header,
nav {
  width: 100%;
  position: relative;
  height: 8rem;
}

.logo-container img {
  width: 7rem;
  z-index: 20;
  margin: 10px;
  position: relative;
  float: right;
}
.nav-list {
  display: flex column;
  position: absolute;
  z-index: 26;
  background-color: var(--secondary-bg-color);
  width: 50%;
  height: 1000px;
  border-right: 3px solid white;
}

.nav-list-closed, .nav-list-closed li{
width: 0%;
display: none;
height: 0px
}

.nav-list li{
  font-size: 1.5rem;
  color: var(--grey-mild);
  padding: 1rem;
  position: relative;
}

.nav-list li::before, .nav-list li::after
{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 3px;
  background: var(--off-white);
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
  width: 0%;
}

.nav-list li::before {
  left: 0px;
  top: 0px;
}
.nav-list li:after {
  right: 0px;
  bottom: 0px;
}

.nav-list li:hover:before,
.nav-list li:hover:after {
  opacity: 0.6;
  width: 100%;
}
.nav-list .first-li{
  padding-top: 5rem
}

.mobile-nav button {
  color: var(--grey-mild);
  font-size: 3rem;
  padding: 1rem;
  position: absolute;
  z-index: 40;
}
.mobile-nav button:hover{
  color: var(--orange);
}

.nav-list li:hover,
.nav-list button:hover {
  color: var(--orange);
}

.nav-list li:visited {
  color: var(--green);
}

.nav-list-closed{
  left: -30%
}

header:after {
  position: absolute;
  z-index: 14;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 73%
  );
}
.cv-btn{
  background-color: var(--green);
  border-radius: 20%;
  margin: 1rem;
  font-size: 10px;
}
.desktop-nav{
    display: none;
}

@media (min-width: 500px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav{
      display: block;
  }
}
