.page-header-bg img {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.page-header-bg img:last-child {
  z-index: 5;
  opacity: 70%;
}

.logo-container img {
  width: 8rem;
  z-index: 20;
  margin: 10px;
  position: relative;
  float: right;
}

header:after {
  position: absolute;
  z-index: 14;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 73%
  );
}

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@300;400&family=Pacifico&display=swap");

:root {
  --primary-text-color: #171717;
  --orange: #e8a644;
  --off-white: #eaeaea;
  --grey-light: #bcbcbc;
  --grey-mild: #828282;
  --grey-strong: #606060;
  --secondary-text-color: #2b2b2b;
  --secondary-bg-color: #111010;
  --green: #378870;
  --fluro-green: #6dbd3a;
  --intro-font: "Pacifico", cursive;
  --body-font: "Open Sans", sans-serif;
  --h-font: "Cookie", cursive;
}

.page-header-bg img {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.page-header-bg img:last-child {
  z-index: 5;
  opacity: 70%;
}

header,
nav {
  width: 100%;
  position: relative;
  height: 9rem;
}

.logo-container img {
  width: 8rem;
  z-index: 20;
  margin: 10px;
  position: relative;
  float: right;
}
.nav-list {
  display: flex column;
  position: absolute;
  z-index: 16;
  padding: 1rem;
  background-color: var(--secondary-bg-color);
  width: 50%;
  height: 900px;
  border-right: 3px solid white;
}
.nav-list li {
  padding: 15px;
  font-size: 1.5rem;
  color: var(--grey-mild);
}

.nav-list button {
  color: var(--grey-mild);
}

.nav-list li:hover,
.nav-list button:hover {
  color: var(--orange);
}

.nav-list li:visited {
  color: var(--green);
}

header:after {
  position: absolute;
  z-index: 14;
  content: "";
  bottom: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 73%
  );
}


.desktop-nav{
    display: none;
}

@media (min-width: 500px) {
  .mobile-nav {
    display: none;
  }

  .desktop-nav{
      display: block;
  }
}
