@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@300;400&family=Pacifico&display=swap");

:root {
  --primary-text-color: #171717;
  --orange: #e8a644;
  --off-white: #eaeaea;
  --grey-light: #bcbcbc;
  --grey-mild: #828282;
  --grey-strong: #606060;
  --secondary-text-color: #2b2b2b;
  --green: #378870;
  --fluro-green: #6dbd3a;
  --intro-font: "Pacifico", cursive;
  --body-font: "Open Sans", sans-serif;
  --h-font: "Oleo Script Swash Caps", cursive;
}
.portfolio-card-container {
  margin: 30px;
  background-color: var(--off-white);
  border-radius: 25px;
  border: 2px solid;
  border-color: var(--grey-strong);
  position: relative;
  overflow: hidden;
}

.portfolio-card-container h1 {
  font-size: 2.6rem;
  font-family: var(--h-font);
  color: var(--secondary-text-color);
  padding: 10px;
  background: rgb(14, 14, 15);
  background: linear-gradient(
    180deg,
    rgba(14, 14, 15, 0.9) 1%,
    rgba(24, 24, 25, 0) 100%
  );
  position: relative;
}

.portfolio-card-container h1:after {
  position: absolute;
  content: "";
  height: 7px;
  bottom: 10%;
  width: 50%;
  left: 0;
  background: var(--green);
  transition: 0.5s;
}

.portfolio-card-container h1:hover:after {
  width: 100%;
  background: var(--orange);
}
.portfolio-card-container p {
  font-size: 0.8rem;
  padding: 10px;
}

.icons-container {
  text-align: right;
  position: relative;
}

.icons-container ul,
.icons-container h3 {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.project-img {
  position: absolute;
  width: 120%;
  left: -8px;
  opacity: 0.9;
  top: 52%;
  filter: blur(3px);
  transition: filter 0.4s linear;
  z-index: 16;
  border-radius: 10px;
}
.project-img:hover {
  filter: none;
}

.icon {
  font-size: 2rem;
}
.icon:hover {
  color: var(--green);
}
.icons-container h3,
.icons-container {
  font-size: 0.7rem;
}
.icon-text {
  font-size: 0.7rem;
  padding-left: 5px;
}
.icons-container h3 {
  color: var(--secondary-text-color);
  background: linear-gradient(
    90deg,
    rgba(14, 14, 15, 0) 2%,
    rgba(24, 24, 25, 0.7191977077363897) 100%
  );
}

.description-2 button {
  font-size: 1rem;
  margin-left: 10px;
}

.text-icons-container {
  position: relative;
  height: 800px;
}
.links-container {
  padding: 10px;
  margin-left: 10px;
  position: absolute;
  bottom: 0%;
}

.links-container h3:after {
  position: absolute;
  content: "";
  height: 7px;
  top: 0;
  width: 250%;
  left: -15%;
  background: var(--green);
  transition: 0.5s;
}

.links-container h3:hover:after {
  width: 450%;
  background: var(--orange);
}

.links-container ul {
  display: flex;
}

.project-description,
.description-2 {
  width: 60%;
}

.description-2 {
  background-color: var(--off-white);
  opacity: 0.7;
  z-index: 20;
  position: absolute;
  border-radius: 0 0 5% 5%;
}
.technologies {
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
  width: 50%;
}

@media (min-width: 800px) {
  .portfolio-card-container {
  }
  .portfolio-card-container h1 {
    font-size: 3.5rem;
  }

  .portfolio-card-container p {
    font-size: 1rem;
    padding: 10px;
  }
  .icons-container h3 {
    font-size: 1rem;
  }
  .icon {
    font-size: 3rem;
  }
  .project-description,
  .description-2 {
    width: 55%;
    margin-left: 15px;
  }
  .description-2 button {
    font-size: 2rem;
  }
  .project-img {
    width: 60%;
    top: 45%;
    left: 50px
  }
  .icon-text {
    font-size: 1rem;
  }
}
